<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Bitacora</title>
	
</head>

<body class="container">
	<nav class="nav">
		<a class="nav-link active" href="#">Active</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link disabled" href="#">Disabled</a>
	  </nav>
	<div class="container">
		<div class="row">
			<div class=".col-md-">
				<div class="card">
					<div  class="card-header">
						<h1 class="card-title">Bitacora de Canto</h1>
					</div>
				<div class="card-body">
					
					
			

				<form action="">
					<label for="nombre">Nombre del alumno</label>
					<input type="text" id="nombre"> <br>
					<br>
					<label for="tesitura">Tesitura:</label>
					<select id="tesitura" name="tesitura" >
 					 <option value="1">Soprano</option>
 					 <option value="2">Mezzosoprano</option>	
 					 <option value="3">Contralto </option>
					  <option value="4">Tenor</option>
					  <option value="5">Barítono</option>
					  <option value="6">Bajo</option>
					</select>
					<hr>
					<h3>Resistencia</h3>
					<label for="shhh">SHHH</label>
					<input type="text" id="shhh"> <br>
					<br>
					<label for="comentario_sh">comentario_sh</label>
					<br>
				 	<textarea name="" id="comentario_sh" cols="50" rows="1"></textarea>
					<hr>
					<label for="fliptrip">FLIPTRIP</label>
					<input type="text" id="fliptrip"> <br>
					<label for="comentario_sh">comentario_Fliptrip</label>
					<br>
				 	<textarea name="" id="comentario_sh" cols="50" rows="1"></textarea>
					<hr>
					<div class="card-body">
					<h3>Vocaleo sostenido</h3>
					<label for="a">A:</label>
					<select id="a" name="a" >
 					 <option value="1">fuerza al cantar</option>
 					 <option value="2">exceso de fuerza</option>	
 					 <option value="3">entonacion forzada</option>
 					 <option value="4">entonacion natural</option>
					</select>
					<br>
					<label for="e">E:</label>
					<select id="e" name="e" >
 					 <option value="1">fuerza al cantar</option>
 					 <option value="2">exceso de fuerza</option>	
 					 <option value="3">entonacion forzada</option>
 					 <option value="4">entonacion natural</option>
					</select>
					<br>
					<label for="i">I:</label>
					<select id="i" name="i" >
 					 <option value="1">fuerza al cantar</option>
 					 <option value="2">exceso de fuerza</option>	
 					 <option value="3">entonacion forzada</option>
 					 <option value="4">entonacion natural</option>
					</select>
					<br>
					<label for="o">O:</label>
					<select id="o" name="o" >
 					 <option value="1">fuerza al cantar</option>
 					 <option value="2">exceso de fuerza</option>	
 					 <option value="3">entonacion forzada</option>
 					 <option value="4">entonacion natural</option>
					</select>
					<br>
				</div>
				<hr>
				<h3>Vocalizacion por frase</h3>
					<label for="nombre">Al bimbo dorme nel patie</label> <br>
					<label for="neutro">Neutro:</label>
					<select id="neutro" name="neutro" >
 					 <option value="1">Entona facil</option>
 					 <option value="2">Pierde facilmente aire</option>	
 					 <option value="3">Entonacion natural</option>
					</select><br>
					<label for="neutro">Agudo:</label> 
					<select id="neutro" name="neutro" >
 					 <option value="1">Entona facil</option>
 					 <option value="2">Pierde facilmente aire</option>	
 					 <option value="3">Entonacion natural</option>
					</select><br>
					<label for="neutro">Grave:</label> 
					<select id="neutro" name="neutro" >
 					 <option value="1">Entona facil</option>
 					 <option value="2">Pierde facilmente aire</option>	
 					 <option value="3">Entonacion natural</option>
					</select>
					<hr>
					<button type="button" class="btn btn-dark">Enviar datos</button>

					
				</form>
			    </div>
			  </div>
			</div>
			
			

		</div>		
	</div>
</body>
</html>