<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Bitacora</title>
	
</head>
<body>
	<div class="container ">
		<div class="row">
			<div class=" col-sm">
				<h1>Bitacora musical</h1>	

				<form action="">
					<label for="nombre">Nombre del alumno</label>
					<input type="text" id="nombre">
					<hr>
					hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
				</form>hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
			</div>hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
			<div class="col-sm">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet asperiores praesentium architecto ullam quaerat ipsam distinctio expedita, veritatis tempore repudiandae, nam iste provident doloremque quo voluptates eos explicabo. Necessitatibus, maiores.
			</div>

		</div>		
	</div>
</body>
</html>